*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(149, 79, 79);
    background-position: center;
    color: white;


}
.weather-container{
    background-color: rgb(123, 116, 116);
}

#search {
    cursor: pointer;
}